/*
Made by: Harry Bui, Vicky Tu, Heewon Ryu
COGS 187A Winter 2014

TABLE OF CONTENTS
1. General
2. HTML Elements
Footer


*/

/*
GENERAL
============================================ */
.navbar-nav.navbar-right:last-child {
	margin-right:0; !important
	font-size:10px;
}

body {
	padding:0px;
	color:#fff;
}
     
.info-elm a {
	font-size:12px;
}

.info-elm-form {
	font-size:12px;
	height:20px;
}

.navbar-collapse {
	background-color:white;
}

.second-navbar a {
	color:#003696;
	background-color:#003696;
	background-color:white;
}

.navbar-form.navbar-right:last-child {
	margin-right:0px;
}

.container-fluid {
	padding-left:0;
	padding-right:0;
}

.navbar-inverse .navbar-nav>li>a {
	color: #f5f5f5;
	background-color:#003696;
}

.second-navbar a {
	color:#003696;
	background-color:#003696;
}

.navbar-form.navbar-right:last-child {
	margin-right:0px;
}

.nav-tabs.nav-justified>li>a {
	margin-right:0;
	border-radius:4px;
	color: #003696;
	background-color: #fff;
	}

.navbar-inverse .navbar-nav>li>a:hover {
	color:#fff;
	background-color:#005af5;
	font-weight:bold;
	text-decoration:underline;
}

.nav-tabs>li>a:hover {
	border-color:#eee #eee #ddd;
	color:#fff;
	background-color:#ff0000;
}

.info-elm-search {
	margin-right:10px;
	margin-top:14px;
}

/*
HTML ELEMENTS
============================================ */

/* heading */
h1, h2, h3, h4, h5, h6 { line-height: 1em; margin: 1em 0; }

p {color:#315aad;}
#section{color:#315aad;}

.img-circle {
	width: 140px; 
	height: 140px;
}
/*
SUBPAGES
============================================ */


/*
 HEADER
============================================ */

/*
 FOOTER
============================================ */
footer {
	background-color: #003696;
}

#footer p {
	font-family:Helvetica;
	color: #f5f5f5;
}

#footer-col1{

}
.footer-col{
	float:left;
	margin-right: 4%;
	position: relative;
	width: 22%;
}