/*
Made by: Harry Bui, Vicky Tu, Jane Ryu
COGS 187A Winter 2014

TABLE OF CONTENTS
1. General
2. HTML Elements
Footer


*/

/*
GENERAL
============================================ */
.navbar-nav.navbar-right:last-child {
	margin-right:0; !important
	font-size:10px;
}

body {
	padding:0px;
	color:#fff;
}

.info-elm a {
	font-size:12px;
}

.info-elm-form {
	font-size:12px;
	height:20px;
}

.navbar-collapse {
	background-color:white;
}

.second-navbar a {
	color:#003696;
	background-color:#003696;
}

.navbar-inverse .navbar-collapse, .navbar-inverse .navbar-form {
	background-color:#003696;
}

.navbar-form.navbar-right:last-child {
	margin-right:0px;
}

.header-navs {
	padding-left:0;
	padding-right:0;
}

/*
HTML ELEMENTS
============================================ */

/* heading */
h1, h2, h3, h4, h5, h6 { line-height: 1em; margin: 1em 0; }

p {color:#008080;}
#section{color:#008080;}

/*
SUBPAGES
============================================ */


/*
 HEADER
============================================ */

/*
 FOOTER
============================================ */